body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
}
#theme-bar {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
}
#controls {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.input-box {
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
}
#textMovements {
    width: 400px;
}
#speedSlider {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#speedValue {
    font-size: 12px;
}
#shuffleNumber {
    width: 50px;
}
.action-button {
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
}
.side-movement-button {
    margin-top: 10px;
    padding: 1px 1px;
    font-size: 12px;
    cursor: pointer;
}
.side-movement-button-left {
    margin-left: 5px;
}
.side-movement-button-right {
    margin-right: 5px;
}
#solveButton {
    margin-left: 20px;
}
#resetButton {
    margin-left: 20px;
}
#canvas-container {
    display: flex;
    margin-left: 10px;
}
#drawing {
}
#moveLogList {
    width: 75px;
    margin-left: 10px;
    font-size: 10px;
    padding: 5px;
    resize: none;
}