body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
}
#controls {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.input-box {
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
}
#textMovements {
    width: 400px;
}
#speedSlider {
    margin-top: 10px;
    margin-bottom: 10px;
}
#shuffleNumber {
    width: 50px;
}
.action-button {
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
}
#canvas-container {
    display: flex;
    margin-left: 10px;
}
#drawing {
    border: 1px solid black;
}
#moveLogText {
    width: 75px;
    height: 700px;
    margin-left: 10px;
    font-size: 10px;
    font-family: monospace;
    padding: 5px;
    resize: none;
    background-color: lightgray;
    border: 1px solid black;
}