/* Classic Theme - Light background */
body {
    background-color: #ffffff;
}

#controls {
    background-color: #f5f5f5;
}

#moveLogList {
    background-color: lightgray;
}

#drawing {
    border-color: black;
}
